html {
    font-size: 62.5%;
}   

.body {
    background-image: url("../assets/img-fondo-playing\ guitar.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    font-size: 62.5%;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.header__title {
    color: white;
    font-size: 4.5rem;
    font-style: italic;
    margin-left: 2%;
    margin-top: 0.5%;
}


.header__item {
    padding-top: 0.3%;
    padding-bottom: 0.5%;
}

.header__list {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    font-size: 3rem;
    text-align: center;
    border-style: solid;
    border-color: white;
    background-color: rgba(0, 255, 255, 0.712);
    margin-top: 1%;
}

.header__anchor {
    text-decoration: none;
    color: white;
}

.header__presentacion {
    text-align: center;
    font-size: 2.5rem;
    font-weight: bold;
    color: white;
    margin-top: 1%;
    margin-bottom: 1%;
}


.header__musicSearch { 
    font-size: 2rem;
    text-align: center;
    color: white;
}

.boton-buscar {
    font-size: 1.9rem;
}

.main__h2 {
    font-size: 3rem;
    color: white;
    text-align: center;
    margin-top: 1.5%;
    font-style: italic;
    margin-bottom: 1.5%;
}

.card-title {
    font-size: 2.5rem;
}

.card-text {
    font-size: 2rem;
}

.footer__description {
    font-size: 1.5rem;
    text-align: center;
    color: white;
}

.footer__ig {
    filter: brightness(1.1);
    mix-blend-mode: multiply;
    margin-left: 5%;
    width:50%;
}

.footer__igText {
    font-size: 1.5rem;
    color: white;
    margin-left: 0.5%;
}

.footer__contacto {
    display: flex;
    align-items: center;
}

.contenedor-formulario {
    font-size: 2rem;
    height: 100%;
}

.sobreMi__descripcion {
    text-align: center;
    font-size: 2.5rem;
    font-weight: bold;
    color: white;
    margin-top: 1%;
    margin-bottom: 1%;
    background-image: linear-gradient(to right, red , black , red);
    transition: border 1s;
}

.sobreMi__descripcion:hover {
    border: 2rem solid tomato;
}



                                        /*@media para celulares*/
@media screen and (max-width: 425px){
    .header__list{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .padre-flex{
        flex-direction: column;
    }

    .card__img{
        width: 40%;
        margin-top: 8%;
    }

    .card__title{
        text-align: start;
    }

    .header__title{
        flex-wrap: wrap;
    }


    .main__h2{
        font-size: 2rem;
    }


    .formulario__contacto{
        justify-content: start;
    }

    .contenedor__grid{
        height: 40vh;
        grid-template-areas: "nombre"
                             "apellido"
                             "mail"
                             "telefono"
                             "mensaje"
                             "enviar";
    }

    
}
