.body {
    background-image: url("../assets/img-fondo-playing\ guitar.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    font-size: 62.5%;
}

.header__title {
    color: white;
    font-size: 4.5rem;
    font-style: italic;
    margin-left: 2%;
    margin-top: 0.5%;
    margin-bottom: 1%;
    
}

.nav-anchor {
    font-size: 3rem;
    color: white;
    padding-bottom: 4%;
}


.hero__presentacion {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    font-size: 3.2rem;
    font-weight: bold;
    color: white;
    margin-bottom: 2%;
    margin-top: 5%;
}

.header__presentacion {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    font-size: 2.5rem;
    font-weight: bold;
    color: white;
    margin-top: 1%;
    margin-bottom: 1%;
}



.search{
    position: relative;
    box-shadow: 0 0 40px rgba(51, 51, 51, .1);
    margin-bottom: 3%;
    
    & input{
        height: 4rem;
        text-indent: 25px;
        border: 2px solid #d6d4d4;
    }
    
    & input:focus{
        box-shadow: none;
        border: 2px solid blue;
    }

    & .fa-search{
        position: absolute;
        top: 20px;
        left: 16px;
    }

    & button{
        position: absolute;
        top: 5px;
        right: 5px;
        height: 30px;
        width: 70px;
        background: blue;
    }
    
}

.contenedor__musica {
    margin-bottom: 4%;
}

.main__h2 {
    font-size: 3.5rem;
    color: $white;
    text-align: center;
    margin-top: 1.5%;
    font-style: italic;
    margin-bottom: 3%;
}

.card-title {
    font-size: 2.5rem;
}

.card-text {
    font-size: 2rem;
}


.footer__description {
    font-size: 1.5rem;
    text-align: center;
    color: white;
}

.footer__redes {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 2.5rem;
    font-weight: 500;
}

.contenedor-formulario {
    font-size: 2rem;
    height: 100%;
    background-color:#aee1ff;
}

.sobreMi__descripcion {
    text-align: center;
    font-size: 2.5rem;
    font-weight: bold;
    color: white;
    margin-top: 1%;
    margin-bottom: 1%;
}

                                        /*@media para celulares*/
 @media screen and (max-width: 425px){

    .padre-flex{
    flex-direction: column;
    }
                                        
    main__h2{
    font-size: 2rem;
    }
                                        
    .card{
    margin-bottom: 5px;
    margin-top: 5px;
    }


}

                                  
