.boton {
    background-color: rgb(167, 102, 228);
    text-align: center;
    color: white;
    border-radius: 20px;
    border: 1px solid black;

    &:hover {
        filter: opacity(85%);
    }
}

.botonRojo {
    @extend .boton;
    background-color: rgb(122, 78, 243);
    color: white;
}

.botonVerde {
    @extend .boton;
    background-color: rgb(78, 63, 219);
    color: white;
}
